<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
<thead>
<tr>
    <th>Project ID</th>
    <th>Project Name</th>
    <th>Goto Project</th>
</tr>
</thead>
    <tbody>
        <tr th:each="project : ${projects}">
            <td><span th:text="${project.id}"></span></td>
            <td><span th:text="${project.name}"></span></td>
            <td><a th:href="@{'/home/projects/{id}'(id=${project.id})}">Link</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>