<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timesheets</title>
</head>
<body>
<h1>Timesheets</h1>
<table>
    <thead>
    <tr>
        <th>Timesheet ID</th>
        <th>Project</th>
        <th>Minutes Spent</th>
        <th>Creation Date</th>
        <th>Goto Timesheet</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timesheet : ${timesheets}">
        <td><span th:text="${timesheet.id}"></span></td>
        <td><a th:href="@{'/home/projects/{id}'(id=${timesheet.projectId})}"><span th:text="${timesheet.projectName}"></span></a></td>
        <td><span th:text="${timesheet.minutes}"></span></td>
        <td><span th:text="${timesheet.createdAt}"></span></td>
        <td><a th:href="@{'/home/timesheets/{id}'(id=${timesheet.id})}">Link</a></td>
        <td><span th:text="${timesheet.employeeFirstName}"></span></td>
        <td><span th:text="${timesheet.employeeLastName}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>